@media (min-width: 640px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


nav{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
}
nav ul li {
    flex: 1 1 100%;
}

div {
    display: grid;
    grid-template-columns: auto auto auto;
    border: gray;
    column-gap: 50px;
    padding: 10px;
    padding-left: 15%;
    
}

}